@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

@layer base {
  html {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: medium;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#textEditor h4 {
  @apply font-inter dark:text-slate-100 text-slate-900 text-xl font-semibold leading-loose max-md:text-lg max-md:leading-normal !important;
}
#textEditor h3 {
  @apply font-inter dark:text-slate-100 text-slate-900 text-2xl font-semibold leading-loose max-md:text-xl max-md:leading-normal !important;
}
#textEditor h2 {
  @apply font-inter dark:text-slate-100 text-slate-900 text-3xl font-semibold leading-loose max-md:text-2xl max-md:leading-normal !important;
}
#textEditor h1 {
  @apply font-inter dark:text-slate-100 text-slate-900 text-4xl font-semibold leading-loose max-md:text-3xl max-md:leading-normal !important;
}

#textEditor * {
  @apply font-gelasio text-3xl leading-10 md:text-5xl;
}

#textEditor a {
  @apply text-black underline hover:opacity-50;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-item {
  text-decoration: none;
  color: white;
  position: relative;
  cursor: pointer;
  margin: 1rem;
}

.menu-item::before {
  content: "";
  width: 2rem;
  height: 0.3rem;
  background: linear-gradient(90deg, #19348f 0%, #2f8dff 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.9rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.5s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .primary-btn,
  .primary-bdr-btn,
  .secondary-btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.8rem;
  }
}

.categories {
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  border: solid 2px #7dd3fc;
  color: black;
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
